.mainmid{
    height: 660px;
    width: 55%;
    position: relative; 
    display:none;
}

.heading img{
    height: 50px;
    width: 50px;
}

.call button{    
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    transition: all 1s ease;
}

.heading span:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
    text-decoration: underline;
    color: white;
}

.border span{
    width: 95%;
    height: 1px;
    border-bottom: 1px solid grey;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-box input{
    min-height: 45px;
    border: none;
    border-radius: 10px;
    width: 76%;
    background-color: #16171b;
    padding: 5px 5px 5px 18px;
    color: white;
    word-wrap: break-word;
    padding-right: 10.4rem;
}

.msg-box{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.msg-form .sendbtn{
    background-color: #656a7f;
    border: none;
    border-radius: 5px;
    right: 8px;
    position: absolute;
    bottom: 12px;
    height: 35px;
    width: 65px;
    cursor: pointer;
    font-size: 15px;
}

.msg-form button{
    transition:all 0.3s ease ;
}

.msg-form button:hover{
    background-color: rgba(72, 106, 190, 0.533);
}

.msg-form .attachment-button{
    background-color: #656a7f;
    border: none;
    border-radius: 5px;
    right: 76px;
    position: absolute;
    bottom: 12px;
    height: 35px;
    width: 65px;
    cursor: pointer;
}

.msg {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
  }

.call{
    transition: transform 0.2s ease;
}

.call:hover{
    background-color: black;
    color: white;
    border-radius: 3px;
    transform: scale(1.1);
}