.recieved{
    /* min-height: 28px;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recieved .sent-time{
    font-size: small;
}

.recieved-msg{
    background-color: rgba(44, 46, 61, 1);
    min-width: 30px;
    max-width: 500px;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 8px;
    text-align: center;
}

.recieved img{
    width: 40px;
}

.prof-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}