.sent{
    min-height: 28px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sent :nth-child(2){
    font-size: small;
}

.sent-msg{
    background-color: rgba(65, 131, 215, 1);
    min-width: 30px;
    max-width: 500px;
    border-radius: 10px;
    padding: 8px;
    margin-right: 20px;
    font-size: medium;
    word-wrap: break-word;
}
