.left{
    /* height: 100px;
    width: 100px; */
    width: 23%;
    height: 700px;
    border-radius: 5px;
    background-color: rgba(22, 23, 27, 1);
}

.logo img{
    width: 8%;
    cursor: pointer;
}

.logo{
    padding: 10px;
}

.search input{
    background-color: rgba(35, 36, 42, 1);
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    padding: 6px;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}